version: '3.8'

services:
  rclone:
    build:
      context: .
      dockerfile: Dockerfile.rclone
    container_name: rclone
    restart: unless-stopped
    env_file: .env
    volumes:
      - ${OBSIDIAN_VAULT_PATH}:/data
      - ${RCLONE_CACHE_PATH}:/root/.cache/rclone
    entrypoint: /bin/sh
    command: /entrypoint.sh
    networks:
      - aether-net

  git-backup:
    build:
      context: .
      dockerfile: Dockerfile.git
    container_name: git_backup
    restart: unless-stopped
    working_dir: /git
    entrypoint: /bin/sh
    command: -c '
        git config --global --add safe.directory /git;
        echo "Starting backup script...";
        /usr/local/bin/git-backup.sh;
      '
    environment:
      - GIT_REPO_URL=${GIT_REPO_URL}
      - GIT_USER_EMAIL=${GIT_USER_EMAIL}
      - GIT_USER_NAME=${GIT_USER_NAME}
    volumes:
      - ${OBSIDIAN_VAULT_PATH}:/git
      - ${HOST_SSH_PATH}:/mnt/ssh_keys:ro

networks:
  aether-net:
    external: true
