name: Deploy Atlas Infra

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: self-hosted
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Create .env file
        env:
          RCLONE_CONFIG_GDRIVE_TOKEN: ${{ secrets.RCLONE_CONFIG_GDRIVE_TOKEN }}
        run: |
          # Create/Overwrite .env file
          echo "RCLONE_CONFIG_GDRIVE_TYPE=${{ vars.RCLONE_CONFIG_GDRIVE_TYPE }}" > .env
          echo "RCLONE_CONFIG_GDRIVE_SCOPE=${{ vars.RCLONE_CONFIG_GDRIVE_SCOPE }}" >> .env
          # Using shell variables to preserve quotes in secrets
          echo "RCLONE_CONFIG_GDRIVE_TOKEN=$RCLONE_CONFIG_GDRIVE_TOKEN" >> .env
          echo "OBSIDIAN_VAULT_PATH=${{ vars.OBSIDIAN_VAULT_PATH }}" >> .env
          echo "RCLONE_CACHE_PATH=${{ vars.RCLONE_CACHE_PATH }}" >> .env
          echo "GIT_REPO_URL=${{ vars.GIT_REPO_URL }}" >> .env
          echo "GIT_USER_EMAIL=${{ vars.GIT_USER_EMAIL }}" >> .env
          echo "GIT_USER_NAME=${{ vars.GIT_USER_NAME }}" >> .env
          echo "GDRIVE_VAULT_PATH=${{ vars.GDRIVE_VAULT_PATH }}" >> .env
          echo "HOST_SSH_PATH=${{ vars.HOST_SSH_PATH }}" >> .env

      - name: Deploy with Docker Compose
        run: |
          docker compose up -d --build --remove-orphans
